#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.titulo{
  color: black;
  transition: color 0.3s; /* Transición suave */
}
.titulo:hover {
    color: red; /* Cambia el color del texto */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 1000ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.alfombras{
  text-align: center;
  width: auto; 
  height: auto; 
  flex-direction: row;
}
.alfombras#imgcab3{
  text-align: center;
  width: 50%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.redes#(imgcab1, imgcab2,imgcab3) {
  display: inline-block; /* Necesario para aplicar transformaciones */
  transition: opacity 0.3s, transform 0.3s; /* Transiciones suaves para opacidad y rotación */
  font-size: 24px; /* Tamaño del texto (opcional) */
  color: black; /* Color del texto (opcional) */
}

/* Efecto al pasar el ratón */
.redes:hover {
  opacity: 0.5; /* Reduce la opacidad al 50% */
  transform: rotate(180deg); /* Rote el texto 180 grados */
}